<?xml version="1.0"?>
<config>
    <modules>
        <SM_ImportData>
            <version>0.1.0</version>
        </SM_ImportData>
    </modules>
    <admin>
        <routers>
            <sm_importdata>
                <use>admin</use>
                <args>
                    <module>SM_ImportData</module>
                    <frontName>data</frontName>
                </args>
            </sm_importdata>
        </routers>
    </admin>
    <global>
        <models>
            <sm_importdata>
                <class>SM_ImportData_Model</class>
                <resourceModel>sm_importdata_resource</resourceModel>
            </sm_importdata>
            <sm_importdata_resource>
                <class>SM_ImportData_Model_Resource</class>
                <entities>
                    <flag>
                        <table>sm_importdata_flag</table>
                    </flag>
                </entities>
            </sm_importdata_resource>
        </models>
        <resources>
            <importdata_setup>
                <setup>
                    <module>SM_ImportData</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </importdata_setup>
        </resources>
    </global>
</config>