<?xml version="1.0"?>
<config>
	<modules>
		<SM_Rsscontent>
			<version>0.1.0</version>
		</SM_Rsscontent>
	</modules>
	<frontend>
		<routers>
            <rsscontent>
                <use>standard</use>
                <args>
                    <module>SM_Rsscontent</module>
                    <frontName>rsscontent</frontName>
                </args>
            </rsscontent>
        </routers>
		<layout>
			<updates>
				<rsscontent>
					<file>rss_content.xml</file>
				</rsscontent>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
            <sm_rsscontent>
                <class>SM_Rsscontent_Block</class>
            </sm_rsscontent>
        </blocks>
        <helpers>
            <sm_wpaddion>
                <class>SM_WPAddion_Helper</class>
            </sm_wpaddion>
        </helpers>
	</global>
</config>
