/.project
/.idea/
/nbproject/
/app/etc/local.xml
/RELEASE_NOTES.txt
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/mage
/modman
/php.ini.sample
/README.md
/var
/tmp
/shell
/pkginfo
/media
/lib
/errors
/downloader
/app/etc
/app/Mage.php
/includes
/js
/app/design/frontend/base
/app/code/core
/app/code/community
/app/.htaccess
/app/locale
