<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SM_XAskExpert>
			<version>1.1.2</version>
		</SM_XAskExpert>
	</modules>
    <frontend>
        <layout>
            <updates>
                <xaskexpert>
                    <file>sm/xaskexpert.xml</file>
                </xaskexpert>
            </updates>
        </layout>
        <translate>
            <modules>
                <SM_XAskExpert>
                    <files>
                        <default>SM_XAskExpert.csv</default>
                    </files>
                </SM_XAskExpert>
            </modules>
        </translate>
	</frontend>
	
	<global>
        <blocks>
            <xaskexpert>
                <class>SM_XAskExpert_Block</class>
            </xaskexpert>
		    <review>
		        <rewrite>
		        	<product_view>SM_XAskExpert_Block_Review_Product_View</product_view>
		            <product_view_list>SM_XAskExpert_Block_Review_Product_View_List</product_view_list>
		        </rewrite>
		    </review>        
        </blocks>
        <models>
            <xaskexpert>
                <class>SM_XAskExpert_Model</class>
                <resourceModel>xaskexpert_mysql4</resourceModel>
            </xaskexpert>
	    	<review_mysql4>
	    		<rewrite>
	    			<review>SM_XAskExpert_Model_Review_Mysql4_Review</review>
	    		</rewrite>
	    	</review_mysql4>
            <xaskexpert_mysql4>
                <class>SM_XAskExpert_Model_Mysql4</class>
                <entities>
                    <xaskexpert>
                        <table>xaskexpert</table>
                    </xaskexpert>
                </entities>
            </xaskexpert_mysql4>
        </models>
        <resources>
            <xaskexpert_setup>
                <setup>
                    <module>SM_XAskExpert</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xaskexpert_setup>
            <xaskexpert_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xaskexpert_write>
            <xaskexpert_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xaskexpert_read>
        </resources>
    </global>
</config>
