<?xml version="1.0" ?>
<config>
    <modules>
        <SM_Checkout>
            <version>0.1.0</version>
        </SM_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <SM_Checkout before="Mage_Checkout">SM_Checkout</SM_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>