<?xml version="1.0"?>
<config>
    <modules>
        <SM_Press>
            <version>0.1.0</version>
        </SM_Press>
    </modules>
    <global>
        <helpers>
            <sm_press>
                <class>SM_Press_Helper</class>
            </sm_press>
        </helpers>
        <blocks>
            <sm_press>
                <class>SM_Press_Block</class>
            </sm_press>
        </blocks>
    </global>
    <frontend>
        <routers>
            <sm_press>
                <use>standard</use>
                <args>
                    <module>SM_Press</module>
                    <frontName>press</frontName>
                </args>
            </sm_press>
        </routers>
        <layout>
            <updates>
                <sm_press>
                    <file>sm/press/press.xml</file>
                </sm_press>
            </updates>
        </layout>
    </frontend>
</config>