<?xml version="1.0"?>
<config>
    <modules>
        <SM_WP>
            <version>0.1.6</version>
        </SM_WP>
    </modules>
    <global>
        <blocks>
            <wp>
                <class>SM_WP_Block</class>
            </wp>
        </blocks>
        <helpers>
            <sm_wp>
                <class>SM_WP_Helper</class>
            </sm_wp>
            <wordpress>
                <rewrite>
                    <plugin_shareThis>SM_WP_Helper_Share</plugin_shareThis>
                </rewrite>
            </wordpress>
        </helpers>
        <resources>
            <sm_wp_setup>
                <setup>
                    <module>SM_WP</module>
                </setup>
            </sm_wp_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sm_wp>
                    <file>sm_wp.xml</file>
                </sm_wp>
            </updates>
        </layout>
    </frontend>
    <default>
        <wordpress>
            <integration>
                <readmore>Lire l’Article</readmore>
            </integration>
        </wordpress>
    </default>
</config>