<?xml version="1.0"?>
<config>
    <sections>
        <wordpress translate="label" module="wordpress">
            <groups>
                <integration>
                    <fields>
                        <readmore translate="label">
                            <label>Read more text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </readmore>
                    </fields>
                </integration>
            </groups>
        </wordpress>
    </sections>
</config>