<?xml version="1.0"?>
<config>
	<modules>
		<sm_cart>
			<version>1.0.0</version>
		</sm_cart>
	</modules>
    <frontend>
        <routers>
            <sm_cart>
                <use>standard</use>
                <args>
                    <module>SM_Cart</module>
                    <frontName>sm_cart</frontName>
                </args>
            </sm_cart>
        </routers>
    </frontend>
	<global>
		<helpers>
			<sm_cart>
				<class>SM_Cart_Helper</class>
			</sm_cart>
		</helpers>
        <models>
            <sm_cart>
                <class>SM_Cart_Model</class>
            </sm_cart>
        </models>
        <blocks>
            <sm_cart>
                <class>SM_Cart_Block</class>
            </sm_cart>
        </blocks>
        <blocks>
            <checkout>
                <rewrite>
                    <links>SM_Cart_Block_Links</links>
                </rewrite>
            </checkout>
        </blocks>
	</global>
</config>