<?xml version="1.0"?>
<config>
    <modules>
        <Smartosc_Grocery>
            <version>0.1.0</version>
        </Smartosc_Grocery>
    </modules>
    <global>
        <models>
            <smartosc_grocery>
                <class>Smartosc_Grocery_Model</class>
            </smartosc_grocery>
        </models>
        <blocks>
            <smartosc_grocery>
                <class>Smartosc_Grocery_Block</class>
            </smartosc_grocery>
        </blocks>
        <helpers>
            <smartosc_grocery>
                <class>Smartosc_Grocery_Helper</class>
            </smartosc_grocery>
        </helpers>
        <!--<resources>-->
            <!--<smartosc_grocery_setup>-->
                <!--<setup>-->
                    <!--<module>Smartosc_Grocery</module>-->
                <!--</setup>-->
            <!--</smartosc_grocery_setup>-->
        <!--</resources>-->
    </global>
    <frontend>
        <routers>
            <smartosc_grocery>
                <use>standard</use>
                <args>
                    <module>Smartosc_Grocery</module>
                    <frontName>grocery</frontName>
                </args>
            </smartosc_grocery>
        </routers>

        <layout>
            <updates>
                <smartosc_grocery>
                    <file>smartosc_grocery.xml</file>
                </smartosc_grocery>
            </updates>
        </layout>
    </frontend>
</config>