<?xml version="1.0"?>
<config>
    <modules>
        <GiangNT_ExportCSV>
            <version>0.1.0</version>
        </GiangNT_ExportCSV>
    </modules>
    <global>
        <models>
            <giangnt_exportcsv>
                <class>GiangNT_ExportCSV_Model</class>
            </giangnt_exportcsv>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>GiangNT_ExportCSV_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <giangnt_exportcsv>
                <class>GiangNT_ExportCSV_Block</class>
            </giangnt_exportcsv>
        </blocks>
        <helpers>
            <giangnt_exportcsv>
                <class>GiangNT_ExportCSV_Helper</class>
            </giangnt_exportcsv>
        </helpers>
        <!--<resources>
            <giangnt_exportcsv_setup>
                <setup>
                    <module>GiangNT_ExportCSV</module>
                </setup>
            </giangnt_exportcsv_setup>
        </resources>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <GiangNT_ExportCSV before="Mage_Adminhtml">GiangNT_ExportCSV_Adminhtml</GiangNT_ExportCSV>
                    </modules>
                </args>
            </adminhtml>
            <giangnt_exportcsv>
                <use>admin</use>
                <args>
                    <module>GiangNT_ExportCSV_Adminhtml</module>
                    <frontName>g-export</frontName>
                </args>
            </giangnt_exportcsv>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <giangnt_exportcsv>
                    <file>giangnt/export.xml</file>
                </giangnt_exportcsv>
            </updates>
        </layout>
    </adminhtml>
</config>