<?xml version="1.0"?>
<config>
    <modules>
        <SM_CustomProductQuestion2>
            <version>0.1.0</version>
        </SM_CustomProductQuestion2>
    </modules>
    <frontend>
        <routers>
            <productquestion2>
                <use>standard</use>
                <args>
                    <module>SM_CustomProductQuestion2</module>
                    <frontName>pquestion2</frontName>
                </args>
            </productquestion2>
        </routers>
        <layout>
            <updates>
                <sm_customproductquestion2>
                    <file>customproductquestion2.xml</file>
                </sm_customproductquestion2>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <sm_customproductquestion2>
                <class>SM_CustomProductQuestion2_Model</class>
            </sm_customproductquestion2>
        </models>
        <blocks>
            <sm_customproductquestion2>
                <class>SM_CustomProductQuestion2_Block</class>
            </sm_customproductquestion2>
        </blocks>
        <helpers>
            <sm_customproductquestion2>
                <class>SM_CustomProductQuestion2_Helper</class>
            </sm_customproductquestion2>
        </helpers>
    </global>
</config>