<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SM_XAdvertising>
            <version>1.1.1</version>
        </SM_XAdvertising>
    </modules>
    <global>
        <blocks>
            <xadvertising>
                <class>SM_XAdvertising_Block</class>
            </xadvertising>
        </blocks>

        <helpers>
            <xadvertising>
                <class>SM_XAdvertising_Helper</class>
            </xadvertising>
        </helpers>

        <models>
            <xadvertising>
                <class>SM_XAdvertising_Model</class>
				<resourceModel>xadvertising_mysql4</resourceModel>
            </xadvertising>
 	   		<xadvertising_mysql4>
                <class>SM_XAdvertising_Model_Mysql4</class>
                <entities>
			<xadvertising>
				<table>sm_xadvertising</table>
			</xadvertising>
                </entities>
            </xadvertising_mysql4>
        </models>
        <resources>
            <xadvertising_setup>
                <setup>
                    <module>SM_XAdvertising</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xadvertising_setup>
            <xadvertising_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xadvertising_write>
            <xadvertising_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xadvertising_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <xadvertising>
                <use>standard</use>
                <args>
                    <module>SM_XAdvertising</module>
                    <frontName>xadvertising</frontName>
                </args>
            </xadvertising>
        </routers>
        <translate>
            <modules>
                <Mage_Checkout>
                     <files>
                          <default>Mage_Checkout.csv</default>
                     </files>
                </Mage_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <xadvertising>
                    <file>sm_xadvertising.xml</file>
                </xadvertising>
            </updates>
        </layout>

    </frontend>
   <admin>
	 <routers>
			<xadvertising_admin>
				<use>admin</use>
				<args>
					<module>SM_XAdvertising</module>
					<frontName>xadvertising_admin</frontName>
				</args>
			</xadvertising_admin>
        </routers>
  </admin>
    <adminhtml>
        <translate>
            <modules>
                <SM_XAdvertising>
                    <files>
                        <default>SM_XAdvertising.csv</default>
                    </files>
                </SM_XAdvertising>
            </modules>
        </translate>
     <menu>
			<xadvertising module="xadvertising">
				<title>Smartosc</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="xadvertising">
						<title>X-Advertising</title>
						<sort_order>0</sort_order>
						<action>xadvertising_admin/manage_advertising/index</action>
					</items>
				</children>
			</xadvertising>
		</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <xadvertising translate="title" module="xadvertising">
                                            <title>sm advertising</title>
                                            <sort_order>50</sort_order>
                                        </xadvertising>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	<layout>
	    <updates>
		<xadvertising>
			<file>sm_xadvertising.xml</file>
		</xadvertising>
	    </updates>
	</layout>
    </adminhtml>
    <default>
        <xadvertising>
			<xadvertising>
			   <enabled>0</enabled>
			   <userte>0</userte>
                           <newwindow>0</newwindow>
			</xadvertising>
			<frontend>
				<limited>10</limited>
				<orderby>1</orderby>
				<ordertype>DESC</ordertype>
			</frontend>
        </xadvertising>       
    </default>
</config>
