<?xml version='1.0'?>
<config>
    <modules>
        <SM_Youtube>
            <version>0.0.5</version>
        </SM_Youtube>
    </modules>
    <frontend>
        <routers>
            <sm_youtube>
                <use>standard</use>
                <args>
                    <module>SM_Youtube</module>
                    <frontName>extras</frontName>
                </args>
            </sm_youtube>
        </routers>
        <layout>
            <updates>
                <sm_youtube>
                    <file>sm/youtube/youtube.xml</file>
                </sm_youtube>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <sm_youtube>
                <use>admin</use>
                <args>
                    <module>SM_Youtube</module>
                    <frontName>youtube</frontName>
                </args>
            </sm_youtube>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_youtube>
                    <file>sm/youtube/youtube.xml</file>
                </sm_youtube>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <sm_youtube>
                <class>SM_Youtube_Helper</class>
            </sm_youtube>
        </helpers>
        <blocks>
            <sm_youtube>
                <class>SM_Youtube_Block</class>
            </sm_youtube>
        </blocks>

        <models>
            <sm_youtube>
                <class>SM_Youtube_Model</class>
                <resourceModel>sm_youtube_resources</resourceModel>
            </sm_youtube>
            <sm_youtube_resources>
                <class>SM_Youtube_Model_Resource</class>
                <entities>
                    <youtube>
                        <table>sm_youtube_entity</table>
                    </youtube>
                </entities>
            </sm_youtube_resources>
        </models>
        <resources>
            <sm_youtube_setup>
                <setup>
                    <module>SM_Youtube</module>
                    <class>SM_Youtube_Model_Resource_Setup</class>
                </setup>
            </sm_youtube_setup>
            <SM_Youtube_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </SM_Youtube_write>
            <SM_Youtube_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </SM_Youtube_read>
        </resources>
    </global>
</config>