<?xml version="1.0"?>
<config>
    <modules>
        <SM_Contacts>
            <version>0.0.1</version>
        </SM_Contacts>
    </modules>
    <frontend>
        <routers>
            <sm_contacts>
                <use>standard</use>
                <args>
                    <module>SM_Contacts</module>
                    <frontName>contactus</frontName>
                </args>
            </sm_contacts>
        </routers>
        <layout>
            <updates>
                <sm_contacts>
                    <file>sm/contacts/contact.xml</file>
                </sm_contacts>
            </updates>
        </layout>
    </frontend>
</config>

