<?xml version="1.0"?>
<config>
    <modules>
        <SM_Wp>
            <version>0.1.2</version>
        </SM_Wp>
    </modules>
    <global>
        <models>
            <sm_wp>
                <class>SM_Wp_Model</class>
            </sm_wp>
        </models>
        <blocks>
            <sm_wp>
                <class>SM_Wp_Block</class>
            </sm_wp>
            <wordpress>
                <rewrite>
                    <sidebar_widget_categories>SM_Wp_Block_Education_Menu</sidebar_widget_categories>
                    <post_meta>SM_Wp_Block_Post_Meta</post_meta>
                </rewrite>
            </wordpress>
        </blocks>
        <helpers>
            <sm_wp>
                <class>SM_Wp_Helper</class>
            </sm_wp>
        </helpers>
        <resources>
            <sm_wp_setup>
                <setup>
                    <module>SM_Wp</module>
                </setup>
            </sm_wp_setup>
        </resources>

        <events>
            <controller_front_init_routers>
                <observers>
                    <sm_wp>
                        <class>SM_Wp_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </sm_wp>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <sm_wp>
                <use>standard</use>
                <args>
                    <module>SM_Wp</module>
                    <frontName>sm-wp</frontName>
                </args>
            </sm_wp>
        </routers>
    </frontend>

</config>