<?xml version="1.0"?>
<config>
    <modules>
        <SM_CommentFacebook>
            <version>0.1.0</version>
        </SM_CommentFacebook>
    </modules>
    <global>
        <blocks>
            <sm_commentfacebook>
                <class>SM_CommentFacebook_Block</class>
            </sm_commentfacebook>
        </blocks>
        <helpers>
            <sm_commentfacebook>
                <class>SM_CommentFacebook_Helper</class>
            </sm_commentfacebook>
        </helpers>
        <models>
            <sm_commentfacebook>
                <class>SM_CommentFacebook_Models</class>
            </sm_commentfacebook>
        </models>
    </global>
    <default>
        <wordpress>
            <fcomment>
                <enabled>1</enabled>
                <colorscheme>light</colorscheme>
                <num_posts>10</num_posts>
                <order_by>reverse_time</order_by>
                <width></width>
            </fcomment>
        </wordpress>
    </default>
    <frontend>
        <routers>
            <sm_commentfacebook>
                <use>standard</use>
                <args>
                    <frontName>fb-cmt</frontName>
                    <module>SM_CommentFacebook</module>
                </args>
            </sm_commentfacebook>
        </routers>
    </frontend>
</config>