<?xml version="1.0"?>
<config>
    <modules>
        <SM_WPAddion>
            <version>0.1.0</version>
        </SM_WPAddion>
    </modules>
    <global>
        <models>
            <sm_wpaddion>
                <class>SM_WPAddion_Model</class>
            </sm_wpaddion>
        </models>
        <blocks>
            <sm_wpaddion>
                <class>SM_WPAddion_Block</class>
            </sm_wpaddion>
        </blocks>
        <helpers>
            <sm_wpaddion>
                <class>SM_WPAddion_Helper</class>
            </sm_wpaddion>
        </helpers>
    </global>
    <frontend>
        <routers>
            <sm_wpaddion>
                <use>standard</use>
                <args>
                    <module>SM_WPAddion</module>
                    <frontName>wp-addion</frontName>
                </args>
            </sm_wpaddion>
        </routers>
        <layout>
            <updates>
                <sm_wpaddion>
                    <file>sm_wpaddion.xml</file>
                </sm_wpaddion>
            </updates>
        </layout>
    </frontend>

    <default>
        <wordpress>
            <rss>
                <enabled>1</enabled>
                <number>10</number>
                <show>category_level_1</show>
            </rss>
        </wordpress>

        <web>
            <routers>
                <sm_wpaddion>
                    <area>frontend</area>
                    <class>SM_WPAddion_Controller_Router</class>
                </sm_wpaddion>
            </routers>
        </web>
    </default>
</config>