<?xml version="1.0"?>
<config>
    <modules>
        <SM_Rewrite>
            <version>0.1.0</version>
        </SM_Rewrite>
    </modules>
    <global>
        <models>
            <sm_rewrite>
                <class>SM_Rewrite_Model</class>
            </sm_rewrite>
            <wishlist>
                <rewrite>
                    <wishlist>SM_Rewrite_Model_Wishlist_Wishlist</wishlist>
                </rewrite>
            </wishlist>
            <catalog>
                <rewrite>
                    <layer_filter_category>SM_Rewrite_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <config>SM_Rewrite_Model_Catalog_Config</config>
                    <category>SM_Rewrite_Model_Category</category>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <category>SM_Rewrite_Model_Resource_Catalog_Category</category>
                </rewrite>
            </catalog_resource>
            <sitemap>
                <rewrite>
                    <sitemap>SM_Rewrite_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <cataloginventory>
                <rewrite>
                    <stock_item>SM_Rewrite_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <sendfriend>
                <rewrite>
                    <sendfriend>SM_Rewrite_Model_Sendfriend_Sendfriend</sendfriend>
                </rewrite>
            </sendfriend>
        </models>
        <blocks>
            <sm_rewrite>
                <class>SM_Rewrite_Block</class>
            </sm_rewrite>
            <catalog>
                <rewrite>
                    <product_list_related>SM_Rewrite_Block_Catalog_Product_List_Related</product_list_related>
                    <product_list>SM_Rewrite_Block_Catalog_Product_List</product_list>
                    <layer_view>SM_Rewrite_Block_Catalog_Layer_View</layer_view>
                    <layer_filter_price>SM_Rewrite_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <review>
                <rewrite>
                    <product_view>SM_Rewrite_Block_Review_Product_View</product_view>
                </rewrite>
            </review>
            <wishlist>
                <rewrite>
                    <customer_wishlist>SM_Rewrite_Block_Wishlist_Customer_Wishlist</customer_wishlist>
                    <customer_sharing>SM_Rewrite_Block_Wishlist_Customer_Sharing</customer_sharing>
                </rewrite>
            </wishlist>
            <customer>
                <rewrite>
                    <account_navigation>SM_Rewrite_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <catalogsearch>
                <rewrite>
                    <layer>SM_Rewrite_Block_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <ajaxcart>
                <rewrite>
                    <data>SM_Rewrite_Helper_Ajaxcart_Data</data>
                </rewrite>
            </ajaxcart>
        </helpers>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <sm_rewrite before="Mage_Checkout">SM_Rewrite_Checkout</sm_rewrite>
                    </modules>
                </args>
            </checkout>
            <wordpress>
                <args>
                    <modules>
                        <sm_rewrite before="Fishpig_Wordpress">SM_Rewrite_Wordpress</sm_rewrite>
                    </modules>
                </args>
            </wordpress>
            <!-- <catalog>
                <args>
                    <modules>
                        <sm_rewrite before="Mage_Catalog">SM_Rewrite_Catalog</sm_rewrite>
                    </modules>
                </args>
            </catalog> -->
            <wishlist>
                <args>
                    <modules>
                        <sm_rewrite before="Mage_Wishlist">SM_Rewrite_Wishlist</sm_rewrite>
                        <sm_rewrite before="Mage_Wishlist">SM_Rewrite</sm_rewrite>
                    </modules>
                </args>
            </wishlist>
            <quickview>
                <args>
                    <modules>
                        <sm_rewrite before="Sns_Quickview">SM_Rewrite_Quickview</sm_rewrite>
                    </modules>
                </args>
            </quickview>

            <sm_rewrite>
                <use>standard</use>
                <args>
                    <module>SM_Rewrite</module>
                    <frontName>sm-rewrite</frontName>
                </args>
            </sm_rewrite>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_rewrite before="Mage_Adminhtml">SM_Rewrite_Adminhtml</sm_rewrite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>