<?xml version="1.0"?>
<config>
    <modules>
        <SM_PickupCheckout>
            <version>0.1.0</version>
        </SM_PickupCheckout>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_pickupcheckout>
                    <file>sm/pickupcheckout/pickupcheckout.xml</file>
                </sm_pickupcheckout>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <sm_pickupcheckout before="Mage_Checkout">SM_PickupCheckout</sm_pickupcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <resources>
            <pickupcheckout_setup>
                <setup>
                    <module>SM_PickupCheckout</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pickupcheckout_setup>
        </resources>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <pickupcheckout_checkout_after>
                        <class>SM_PickupCheckout_Model_Observer</class>
                        <method>saveOrderLocation</method>
                    </pickupcheckout_checkout_after>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>SM_PickupCheckout_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>SM_PickupCheckout_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sm_pickupcheckout_admin>
                    <file>sm/pickupcheckout/pickupcheckout.xml</file>
                </sm_pickupcheckout_admin>
            </updates>
        </layout>
    </adminhtml>
</config>