<?xml version="1.0"?>
<config>
    <modules>
        <SM_RedirectChoice>
            <version>0.1.0</version>
        </SM_RedirectChoice>
    </modules>
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <SM_RedirectChoice_Model_Observer>
                        <type>singleton</type>
                        <class>SM_RedirectChoice_Model_Observer</class>
                        <method>popup</method>
                    </SM_RedirectChoice_Model_Observer>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <SM_RedirectChoice_Model_Observer>
                        <type>singleton</type>
                        <class>SM_RedirectChoice_Model_Observer</class>
                        <method>saveCurrentUrl</method>
                    </SM_RedirectChoice_Model_Observer>
                </observers>
            </controller_action_postdispatch>
            <customer_login>
                <observers>
                    <SM_RedirectChoice_Model_Observer>
                        <type>singleton</type>
                        <class>SM_RedirectChoice_Model_Observer</class>
                        <method>loginMark</method>
                    </SM_RedirectChoice_Model_Observer>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_create>
                <observers>
                    <SM_RedirectChoice_Model_Observer>
                        <type>singleton</type>
                        <class>SM_RedirectChoice_Model_Observer</class>
                        <method>registerMark</method>
                    </SM_RedirectChoice_Model_Observer>
                </observers>
            </controller_action_postdispatch_customer_account_create>
        </events>
    </global>
</config>