<?xml version="1.0"?>
<config>
    <modules>
        <SM_Xmaincategory>
            <version>0.2.0</version>
        </SM_Xmaincategory>
    </modules>
    <frontend>
        <routers>
            <xmaincategory>
                <use>standard</use>
                <args>
                    <module>SM_Xmaincategory</module>
                    <frontName>xmaincategory</frontName>
                </args>
            </xmaincategory>
        </routers>
        <layout>
            <updates>
                <xmaincategory>
                    <file>xmaincategory.xml</file>
                </xmaincategory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<xmaincategory>
				<use>admin</use>
				<args>
					<module>SM_Xmaincategory</module>
					<frontName>xmaincategory</frontName>
				</args>
			</xmaincategory>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>               
				<children>
					<items module="xmaincategory">
						<title>Manage Main Categories</title>
						<sort_order>1</sort_order>
						<action>xmaincategory/adminhtml_xmaincategory</action>
					</items>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<SM_Xmaincategory>
							<title>Xmaincategory Module</title>
							<sort_order>10</sort_order>
						</SM_Xmaincategory>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<xmaincategory>
					<file>xmaincategory.xml</file>
				</xmaincategory>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <xmaincategory>
                <class>SM_Xmaincategory_Model</class>
                <resourceModel>xmaincategory_mysql4</resourceModel>
            </xmaincategory>
            <xmaincategory_mysql4>
                <class>SM_Xmaincategory_Model_Mysql4</class>
                <entities>
                    <xmaincategory>
                        <table>xmaincategory</table>
                    </xmaincategory>
                </entities>
            </xmaincategory_mysql4>
        </models>
        <resources>
            <xmaincategory_setup>
                <setup>
                    <module>SM_Xmaincategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xmaincategory_setup>
            <xmaincategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xmaincategory_write>
            <xmaincategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xmaincategory_read>
        </resources>
        <blocks>
            <xmaincategory>
                <class>SM_Xmaincategory_Block</class>
            </xmaincategory>
        </blocks>
        <helpers>
            <xmaincategory>
                <class>SM_Xmaincategory_Helper</class>
            </xmaincategory>
        </helpers>
    </global>
</config>